<a href="https://colab.research.google.com/github/4centto/cyp_2021/blob/main/17_nov_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
edad = 15
estatura = 1.67
a = 10
b = 3

c = 2 ** b + 2 + 3 + 4

print(c)

e = estatura * 2.0

print(e)

f = a / b #En python se hace el calculo exacto
print(f) #3.33333

g = a // b #Division entera
print("g = ", g)

h = a % b
print("h =", h)

numero = 10

print("Es par? ", (numero % 2) == 0)

17
3.34
3.3333333333333335
g =  3
h = 1
Es par?  True

In [14]:
ecuacion = 9 + 7 * 8 - 36 / 5 #     9 + 56 -7.2   -> 65 - 7.2 = |57.8| -> (Resultado)
print(ecuacion)

ecuacion = 0

ecuacion = (9 + 7) * 8 - 36 / 5 #     16 * 8 - 7.2 -> |120.08| 
print(ecuacion)

ecuacion = 9 + 7 * (8 - 36) / 5 #     
print(ecuacion)

57.8
120.8
-30.200000000000003

In [21]:
#Operadores logicos --> True y/o False

x = 5
y = 4

valor = (x == y) # Son iguales --> Falso
print(valor)

valor = (x != y) # Son diferentes --> Verdadero
print(valor)

valor = (x < y) # x es menor que y --> False
print(valor)

valor = (x > y) # x es mayor que y --> True
print(valor)

y = 5
valor = (x <= y) # x es menor o igual que y --> True
print(valor)

valor = (x >= y) # x es mayor o igual que y --> True
print(valor)

False
True
False
True
True
True

In [33]:
costo_cheetos = 7.0
tienda_abierta = True
capital_en_bolsa = 10.0

se_compra = (costo_cheetos <= capital_en_bolsa) and (tienda_abierta == True)

print(se_compra)

True