<a href="https://colab.research.google.com/github/4centto/cyp_2021/blob/main/Tarea3_cyp.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#Ejericio 1.1
PRECIO = 0
PAGO = 0
CAMBIO = 0

PRECIO = float(input("Cuanto cuesta el producto: $"))
PAGO = float(input("Cuanto pago el cliente: $"))

if PRECIO < PAGO:

  CAMBIO = PAGO - PRECIO
  print("El cambio total es: $", CAMBIO)

else:

  print("No alcanza el dinero del Cliente")

Cuanto cuesta el producto: $12
Cuanto pago el cliente: $15
El cambio total es:  3.0

In [5]:
#Ejercicio 1.2
BASE = 0
ALTURA = 0
AREA = 0

BASE = float(input("Cual es el valor de la base: "))
ALTURA = float(input("Cual es el valor de la altura: "))

AREA = (BASE * ALTURA) / 2

print("El area del triangulo es: ", AREA)

Cual es el valor de la base: 2
Cual es el valor de la altura: 2
El area del triangulo es:  2.0

In [6]:
#Ejercicio 1.3
NOM = 0
PES = 0
LON = 0

NOM = input("Cual es el nombre del dinosaurio: ")
PES = float(input("Cual es el peso en libras de: "))
LON = float(input("Cual es su longitud en pies: "))

PES = PES * 1000
LON = LON * 0.3047

print("El ", NOM, " pesa ", PES, "kg y mide ", LON, "m")

Cual es el nombre del dinosaurio: Plateosaurus
Cual es el peso en libras de: 5
Cual es su longitud en pies: 30
El  Plateosaurus  pesa  5000.0 kg y mide  9.141 m

In [9]:
#Ejercicio 1.4
GAL = 0
TOTAL = 0

GAL = float(input("Cuantos galones compro el cliente: "))

TOTAL = GAL * 3.785 * 8.20

print("TOTAL: ", round(TOTAL, 2))

Cuantos galones compro el cliente: 10.38
TOTAL:  322.16

In [12]:
#Ejercicio 1.5
RAD = 0
ALT = 0
AREA = 0
VOL = 0

RAD = float(input("多Cual es el radio del cilindro? "))
ALT = float(input("多Cual es la altura del cilindro? "))

AREA = 2 * 3.141592 * RAD * ALT
VOL = 3.141592 * (RAD ** 2) * ALT

print("")
print("Area = ", round(AREA, 2))
print("Volumen = ", round(VOL, 2))

多Cual es el radio del cilindro? 2
多Cual es la altura del cilindro? 14

Area =  175.93
Volumen =  175.93

In [14]:
#Ejercicio 1.6
DIAS = 0
SEG = 0

DIAS = int(input("Dame el valor de los dias enteros: "))

SEG = DIAS * 24 * 60 * 60

print("")
print("Hay ", SEG, " en ", DIAS, " dias")

Dame el valor de los dias enteros: 7

Hay  604800  en  7  dias